<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <!--<add key="dataSource" value="Data source = LBERCIU-LPT; Initial Catalog = AmalgamIss; Integrated Security = true"/>-->
    <!--MADA<add key="dataSource" value="Data Source=DESKTOP-OJG59VC;Initial Catalog=AmalgamIss;Integrated Security=True" />-->
    <add key="dataSource" value="Data Source=DESKTOP-OJG59VC;Initial Catalog=AmalgamIss;Integrated Security=True" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>

      <add name="AmalgamIssEntities" connectionString="metadata=res://*/ORMModel.csdl|res://*/ORMModel.ssdl|res://*/ORMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LBERCIU-LPT;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="AmalgamIssEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LBERCIU-LPT;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="Model1" connectionString="data source=lberciu-lpt;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    
    <!--<Coste Madalina="" connStrings="">
      <add name="AmalgamIssEntities" connectionString="metadata=res://*/ORMModel.csdl|res://*/ORMModel.ssdl|res://*/ORMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OJG59VC;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="AmalgamIssEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OJG59VC;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="Model1" connectionString="data source=DESKTOP-OJG59VC;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    
    <!--<Liviu Berciu="" connStrings="">
      <add name="AmalgamIssEntities" connectionString="metadata=res://*/ORMModel.csdl|res://*/ORMModel.ssdl|res://*/ORMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LBERCIU-LPT;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="AmalgamIssEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LBERCIU-LPT;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="Model1" connectionString="data source=lberciu-lpt;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
     </Liviu>-->

    <!--  < Alex Buhai="" connStrings="" >
      <add name="AmalgamIssEntities" connectionString="metadata=res://*/ORMModel.csdl|res://*/ORMModel.ssdl|res://*/ORMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LBERCIU-LPT;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="AmalgamIssEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LBERCIU-LPT;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
      <add name="Model1" connectionString="data source=lberciu-lpt;initial catalog=AmalgamIss;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    </Alex>-->
  </connectionStrings>
</configuration>
